<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Soumya</title>
    <link rel="stylesheet" href="/style.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script>
    var myApp = angular.module("app", []);
    myApp.controller("controller", function ($scope) {
        $scope.userData = '';
        $scope.getData = function (user) {
            $scope.userData = angular.copy(user);
        };
    });
</script>
</head>

<body >
    
    <p>
        How to get form input
        value in AngularJS
    </p>
    <div ng-app="app">
        <div ng-controller="controller">
            <form action="javascript:void(0)">
                First Name: &nbsp;<input type="text" ng-model="user.fName" />
                <br><br>
                Last Name : &nbsp;<input type="text" ng-model="user.lName" />
                <br><br>
                Ph.No.: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" ng-model="user.Phone" />
                <br><br>
                City: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" ng-model="user.city" />
                <br><br>
                <button ng-click="getData(user)">SAVE</button>
            </form>

            <p>User Data Json = {{userData | json}}</p>



            <table border=1>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Ph.No</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tr ng-repeat="user in itemsDetails">
                <tr></tr>
                    <td>
                        <div>{{user.fName}}</div>
                        
                    </td>
                    <td> {{user.lName}} </td>
                    <td> {{user.Phone}} </td>
                    <td> {{user.city}} </td>

                </tr>
            </table>
        </div>
    </div>
</body>

</html>