<!--<!DOCTYPE html>
<html>
<head>
    <style>
        
    </style>
    <script src="/scripts/snippet-javascript-console.min.js?v=1"></script>
</head>
<body>-->
<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <link rel="stylesheet" href="/style.css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <form  ng-app="myApp"  ng-controller="TableFilterCtrl">
        <div class="container"><label>Name: </label>
            <input type="text" ng-model="formdata.name" name="uname" placeholder="Enter your name." tabindex="1"><br>
            <label>Phone.No: </label>
            <input type="text" ng-model="phno" name="phno" tabindex="2"><br>
            <label>City: </label>
            <input type="text" ng-model="city" name="city" tabindex="3"><br>
            <input type="hidden"  ng-model="id">
            <input type="submit" id="submit" value="SUBMIT" ng-click="submit()"><br>
        </div><br>
       <!----<div id="view" class="container"><label>Name: </label>
            <input type="text" ng-model="u.name" name="uname"  ><br>
            <label>Phone.No: </label>
            <input type="text" ng-model="phno" name="phno" ><br>
            <label>City: </label>
            <input type="text" ng-model="city" name="city" ><br>
            <input type="submit" id="submit" value="UPDATE" ng-click="submit()"><br>
        </div><br>-->
        <div>
            <table ng-if="ur.length > 0">
                <tr><strong>
                        <td>Name</td>
                        <td>Ph.No</td>
                        <td>City</td>
                        <td>Actions</td>
                    </strong>
                </tr>

                <tr ng-repeat="u in ur">
                    <td>{{u.name}}</td>
                    <td>{{u.phno}}</td>
                    <td>{{u.city}}</td>
                    <td>
                        <button ng-click="delete($index, content)">Delete</button>
                        <button ng-click="editdata(u)">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);

    myApp.controller('TableFilterCtrl', ['$scope', function ($scope) {
        $scope.ur = [];
        $scope.formdata={name:'',phno:'',city:'',id:''};
        $scope.name = '';
        $scope.phno = '';
        $scope.city = '';
        $scope.id = 1;
        /*Add data*/
        $scope.submit = function () {
            if (!!$scope.name, !!$scope.phno, !!$scope.city) {
                $scope.ur.push({
                    name: $scope.name,
                    phno: $scope.phno,
                    city: $scope.city,
                    id:$scope.id
                });
                $scope.id++;
                

            }
            $scope.name = '';
            $scope.phno = '';
            $scope.city = '';
        }
        /*Remove data*/
        $scope.delete =
       
            function (index, content) {
                
                if (index != -1) {
                    $scope.ur.splice(index, 1);
                }
            };
            $scope.editdata =
       
            function (u) {
                if(u.id>0)
                {

                    console.log(u);
                }
                

                
                
                
            };

    }]);
</script>
</body>

</html>